/*----navigation layout----
-------------------------*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(48, 111, 139);
    opacity: .75;
}

.top {
    width: 100%;
}
.topper {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 15px;
    margin-top: auto;
}

.border {
    display: inline-block;
    border-bottom: double 5px #222;
    width: 80%;
    margin-left: 25px;
    margin-top:25px;
}

.border2 {
    margin-top: 20px;
    background-color: black;
    width: 80%;
}

.signup {
    color: #222;
    text-align: center;
}

.grey {
    text-align: center;
    opacity: .7;
    padding: 5px 15px;
}

p,
.info,
.format,
.checks {
    color: grey;
}

.contact {
    margin-left: 20px;
    margin-top: 20px;
    color: black;
    margin-bottom: 15px;
}

.info {
    border: none;
    padding: 0;
    margin-top: 25px;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

input {
    transition: background-color 2s ease-out; 
}

.news {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-top: 25px;
    margin-top: 25px;
    border: none;
}

.format,
.checks {
    border: none;
}

.text {
    margin-top: 15px;
}

textarea {
    background-color: lightgray;
    border-radius: 5%;
    margin-top: 15px;
    height: 75px;
    width: 100%;
    border: none;
    outline: none;
}

.btn {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(47, 206, 255);
    border-radius: 5%;
    margin-top: 20px;
    margin-left: 5px;
    width: 100%;
    height: 40px;
}

.end {
    display: flex;
    justify-content: center;
    font-style: italic;
}

/*pseudo elements---------------*/

input[name*="user"],
select {
    display: block;
    margin: 5px 10px 5px 20px;
    background-color: lightgray;
    border-radius: 5%;
    height: 35px;
    width: 80%;
}

input#zip:only-of-type {
    width: 30%;
}

label:nth-of-type(n) {
    margin-left: 20px;
}

input:focus,
select:focus {
    border-color: darkblue;
    outline: none;
    background-color: orange;
}

/*--media queries--------------------*/

@media (min-width: 768px) {
    .formrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .daform {
        display: flex;
        flex-direction: column;
        margin: 0 150px;
    }

    .border,
    .border2 {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    select#state:only-of-type,
    input#name:only-of-type,
    input#phone:only-of-type,
    input#email:only-of-type,
    input#street:only-of-type,
    input#city:only-of-type {
        box-sizing: content-box;
        width: 65%;
    }
}